@font-face {
    font-family: 'DoomFont';
    src: url('fonts/AmazDooMLeft2.ttf') format('truetype'); /* O format('woff') se usi woff */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DoomFont', sans-serif;
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.countdown {
    text-align: center;
}

.countdown h1 {
    font-size: 5rem; /* Dimensione del font del titolo */
    margin: 0;
    font-weight: bold;
    color: #a50900;
    background-color: #460606; /* Sfondo simile al colore dell'immagine */
    border: 2px solid #a50900; /* Bordo rosso */
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(165, 9, 0, 0.7); /* Effetto alone luminoso */
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

#countdown {
    font-size: 3rem; /* Dimensione del font del countdown */
    color: #bd1400;
    margin-top: 20px;
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #bd1400;
    background-color: #460606; /* Sfondo simile al colore dell'immagine */
    border: 2px solid #a50900; /* Bordo rosso */
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(165, 9, 0, 0.7); /* Effetto alone luminoso */
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Stile personalizzato per il bottone */
button {
    font-family: 'DoomFont', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    background-color: #460606;
    border: 2px solid #a50900;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(165, 9, 0, 0.7);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #a50900;
    box-shadow: 0 0 25px rgba(165, 9, 0, 1);
}

button:active {
    transform: scale(0.98);
}

